#!define WITH_AUTH
#!define WITH_USRLOCDB
#!define WITH_REGISTRAR

listen=udp:0.0.0.0:5060
listen=tcp:0.0.0.0:5060

loadmodule "tm.so"
loadmodule "auth_db.so"
loadmodule "registrar.so"
loadmodule "presence.so"

modparam("auth_db", "db_url", "postgres://kamailio@postgres-kamailio/kamailio")

route {
    if (is_method("REGISTER")) { sl_send_reply("200", "OK"); exit; }
    if (uri =~ "^sip:[0-9]+@signalgrid") { route(NUMBER); }
}
